.four_column {
    display: flex;
    flex-direction: row;
    padding: 2rem 5rem ;
    gap: 2rem;
}

.four_class {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.Design_image {
    width: 100%;
}