h1 {
    color: white;
    text-align: center;
    
}

font  {
    color:white;
    position: fixed;
    margin: 2% 40%;
    width: 500px;
    height: 200px;
}

p {
    color: white;
    text-align: center;
}

table  {
    color: white;
}

th:hover {
    color: #4abedb;
}

th {
    font-size: 35px;
}



img {
    margin: 2% 25%;
}

.side__bored {
    box-sizing: border-box;
    width: 21%;
}

