




.Question {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 2%;
}

.Section_one {
    color: white;
    text-align: center;
    font-size:21px;
}

.Section_two {
    color: white;
    text-align: center;
    font-size: 21px;
}

.phone {
    height: 500px;
}

.two_column {
    display: flex;
    flex-direction: row;
    padding: 2rem 5rem;
    gap: 2rem;
}

.image_text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image_description {
    color: white;
}


.wendy {
    width: 100%;
}

.paper {
    width: 100%;
}




.tip {
    color: white;
    text-align: center;
    display: grid;
    place-items: center;
    gap: 1rem;
}



@media screen and (max-width: 960px) {
    .two_column {
        flex-direction: column;
    }
}